# vim: set ft=sh noet noai:
#alias rerc='. ~/.bashrc'

alias ipaddr='ip addr | awk '"'"'/^\s*inet/ {if ($2 !~ /(^127\.)|(^(fe80)?::)/) {print $2}}'"'"
alias ipaddr_public='curl --silent --fail "http://api.ipify.org/" '
alias ips='cat /etc/hosts | grep'
alias servs='cat /etc/services | grep'
alias reload_xrdb='( xrdb -remove -all ; xrdb -override ~/.Xresources ; )'

alias todo='[[ -r ~/TODO ]] && cat ~/TODO'
alias vitodo='[[ -r ~/TODO ]] && "$EDITOR" ~/TODO || echo "~/TODO bad perm"'
alias vimutt='vim -o ~/.msmtprc ~/.offlineimaprc ~/.muttrc ~/.mutt/{muttrc.txt,vimrc,mailcap} --cmd "set nowrap write ma"'
alias viawesome='vim -o ~/.config/awesome/{rc.lua,theme/theme.lua} /usr/share/doc/vicious/README'
alias virc='vim -o ~/.bashrc ~/.vimrc ~/.xinitrc'
alias datef='date '"'"'+%Y-%m-%d_%Hh%Mm%Ss'"'"
alias ksuspend='sudo sh -c "echo mem >/sys/power/state"'

alias sdc='sudo systemctl '
alias sdc0='sudo systemctl start '
alias sdck='sudo systemctl stop '
alias sdcs='sudo systemctl status '
alias sdclu='sudo systemctl list-units '
alias sdcluf='sudo systemctl list-unit-files '

alias aur='yaourt -a '
alias ls='ls -F --color=auto --time-style=long-iso'
alias grep='grep --color=auto'
alias sshf='ssh -2 -oUserKnownHostsFile=/dev/null'
alias sshnp='ssh -2 -i ~/.ssh/id_rsa-nopw'
alias sshfp='ssh -2 -oIdentitiesOnly=yes -oGlobalKnownHostsFile=/dev/null -oUserKnownHostsFile=/dev/null -oIdentityFile=/dev/null -oChallengeResponseAuthentication=no -oPubkeyAuthentication=no -oHostbasedAuthentication=no -oKbdInteractiveAuthentication=no -oPasswordAuthentication=yes -oPreferredAuthentications=password'

alias xs1='xsel -p'
alias xs2='xsel -s'
alias xs3='xsel -b'
alias xsx='xsel -x'
alias xsX='xs1|xs2 ; xs3|xs1 ; xs2|xs3'
alias xst='xs1|xs2 ; xs3|xs1 ; xs2|xs3'

alias show-font='cat ~/m/doc/Reference/utf8test.txt'
alias show-colors='(x=`tput op` y=`printf %40s`;for i in {0..256};do o=00$i;echo -e ${o:${#o}-3:3} `tput setaf $i;tput setab $i`${y// /=}$x;done)'
alias urxvtc_black='urxvtc -sh 100 -tr -si -sk -sw -sh 100 --background black --foreground white'
alias urxvtc_white='urxvtc -sh 100 -tr -si -sk -sw -sh 100 --background white --foreground black'
alias urxvtc_prezo='urxvtc -bg white -fg black -cr darkblue -pr darkblue -pr2 black -fn "xft:Terminus:size=14,antialias=true"'
alias msfile2pdf='libreoffice --headless --convert-to pdf:writer_pdf_Export '
alias hsh='/usr/heirloom/bin/sh'
alias hsh_start='PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin PS1='"'"'$ '"'"' /usr/heirloom/bin/sh'
alias dsh='/bin/dash'
alias dsh_start='PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin PS1='"'"'\$ '"'"' /bin/dash'
alias use_qemu_arch='export $(echo $PATH | awk '\''BEGIN {RS=":"; PP="PATH="}; !/^\/opt\/qemu-.*/ {printf("%s%s", PP, $1); PP=":"}'\'')'
alias use_qemu_naplap='export $(echo $PATH | awk '\''BEGIN {RS=":"; PP="PATH=/opt/qemu-naplap:"}; !/^\/opt\/qemu-.*/ {printf("%s%s", PP, $1); PP=":"}'\'')'
alias use_qemu_debug='export $(echo $PATH | awk '\''BEGIN {RS=":"; PP="PATH=/opt/qemu-debug:"}; !/^\/opt\/qemu-.*/ {printf("%s%s", PP, $1); PP=":"}'\'')'
alias ma='mkalias'
alias tsh='rlwrap tclsh'
alias dwmprops='xprop|awk '"'"'BEGIN{FS="\"";OFS="\", \""};/^WM_CLASS/{c=$4;i=$2};/^WM_NAME/{t=$2};END{print "\""c,i,t"\""}'"'"
alias bashkeys='man bash|col -xb|awk -F"  +" "{if (\$0 ~ /^   Commands [Ff]/) {p=1}; if (\$0 ~ /^   Prog.*Comp/) {p=0}; if (p) {print $2}}"'
alias ckawesome='while true ; do printf "%s" "$(awesome --check --config ~/.config/awesome/rc.lua 2>&1)" ; read ; done'
alias ckawesome='while true ; do awesome --check --config ${HOME}/.config/awesome/rc.lua ; read ; done'
alias ckawesome='Xephyr :1 -screen 640x480 & DISPLAY=:1 awesome ; kill %1'
#alias dloads='ls -dnlhrtGQ --time-style=iso ~/dl/* | awk '\''{printf "%s__%s  %6s  %s\n",$5,$6,$4,$(7..NF)}'\'
#alias dloads='{ find ~/dl -maxdepth 1 -type f -printf '\''%TY-%Tm-%Td %TH:%TM %10k ~/dl/'\'%f\''\n'\'' | sort -V -k1,2 ; }'
alias dloads='{ find ~/dl -maxdepth 1 -type f -printf "%TY-%Tm-%Td %TH:%TM %10k ~/dl/'\''%f'\''\n" | sort -V -k1,2 ; }'
alias dloadsr='{ find ~/dl -maxdepth 3 -type f -printf "%TY-%Tm-%Td %TH:%TM %10k ~/dl/'\''%P'\''\n" | sort -V -k1,2 ; }'
alias cdp1999='cd "/mnt/TRANS_FAT/Program Files/Sony/EQ_P1999"'
alias stunt='ssh -NfT stunting.nabin.info'
unalias run-help 2>/dev/null
alias help='run-help'
alias use_mxe='export PATH=/opt/mxe/usr/bin:${PATH//\/opt\/mxe\/usr\/bin:/} ; rehash'
alias use_havana='. /opt/havana/bin/activate'
alias use_ptxdist='export PATH=${PATH}:/home/rnabinger/ptxdist/bin'
alias p=$PAGER
alias termresize='while true ; do printf "\r%d x %d" $COLUMNS $LINES ; sleep 1 ; done'
alias rerc='. ~/.zshrc'
alias reload_xrdb='( xrdb -remove -all ; xrdb -override ~/.Xresources ; )'
alias ls='ls -F --color=auto --time-style=long-iso'
alias lsfunc='typeset -f 2>&1 | grep -a '\''^[^\t ]\+[\t ]\+()[\t ]*'\'
alias grep='grep --color=auto '
alias xs1='xsel -p'
alias xs2='xsel -s'
alias xs3='xsel -b'
alias xsx='xs1|xs2 ; xs3|xs1 ; xs2|xs3'
alias viawesome='vim -o ~/.config/awesome/{rc.lua,theme/theme.lua} /usr/share/doc/vicious/README'
alias virc='vim -o ~/.zshrc ~/.vimrc ~/.xinitrc'
alias vimr='gvim --remote '
alias vsh='sudo virsh '
alias vsha='sudo virsh list --all '
alias vshc='sudo virsh console '
alias ova='sudo ovs-appctl '
alias ovc='sudo ovs-vsctl '
alias ovo='sudo ovs-ofctl '
#alias mosh='mosh  --ssh="ssh -4" -a '
alias mosh4='mosh --ssh="ssh -4" -a '
alias mosh6='mosh --ssh="ssh -6" -a '
alias hexedit='hexedit --color '
alias wget_mirror='wget -m -k -E -np -nH --no-check-certificate '
alias mntrw='sudo mount -o remount,rw '
alias mntro='sudo mount -o remount,ro '

alias q='smplayer -add-to-playlist '

#alias -s html="w3m"
#alias -s txt="less"
#alias -s pdf="xpdf"
